body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

header {
    background: linear-gradient(to right, #0691db, #562ec4);
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

h2 {
    color: #333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.intro, .skills, .hobbies {
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.frontend, .backend {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 48%;
    margin-bottom: 20px;
}

.frontend ul, .backend ul {
    list-style-type: none;
    padding: 0;
}

.frontend ul li, .backend ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.underline-effect{
    color: cornflowerblue;
}
.underline-effect:hover{
    color: #11CC46;
}
footer {
    background: linear-gradient(to right, #0691db, #562ec4);
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
footer p a{
    color: aliceblue;
    text-decoration: none;
}

@media (max-width: 600px) {
    .skills {
        flex-direction: column;
    }

    .frontend, .backend {
        width: 90%;
    }
}
