/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: linear-gradient(to right, #0691db, #562ec4);
  color: white;
}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
  user-select: none;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  background: linear-gradient(to right, #8043E8, #044481, #a0e03f);
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}

/* Categories Section */
.categories {
  display: flex;
  justify-content: space-around;
  margin: 50px 20px;
}

.category {
  text-align: center;
  cursor: pointer;
}

.category img {
  width: 100px;
  height: 100px;
}

.category h3 {
  margin-top: 10px;
  color: #333;
}

/* Projects Section */
.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.project-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 15px;
  overflow: hidden;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card h3 {
  margin: 15px;
  font-size: 1.2em;
  color: #333;
}

.project-card p {
  margin: 15px;
  color: #777;
}

.project-card button {
  background: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.project-card button.purchase {
  background: #6556ED;
}

.project-card button:hover {
  background: #9f85e9;
}
.project-card button a{
  text-decoration: none;
  color: white;
}

/* Footer Styling */
footer {
  background: linear-gradient(to right, #0691db, #562ec4);
  color: white;
  text-align: center;
  padding: 20px;
}
footer p a{
  text-decoration: none;
  color: whitesmoke;
}
footer p a:hover {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width:720px){
  .hero {
    background: linear-gradient(#8043E8, #044481, #a0e03f);
  }
}